<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CodingBlog</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <nav class="navbar navbar-dark navbar-expand-sm navbar-toggleable-sm box-shadow">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">CodingBlog</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse  collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
        <section id="hero" class="d-flex flex-column justify-content-center">
            <div class="container">
                <div class="row text-center">
                    <div class="col">
                        <h1>BLOG NAME</h1>
                    </div>
                </div>
            </div>
        </section>
    </header>
    <div id="mobile-sidebar-container" class="text-center">
        <div id="mobile-sidebar">
            <div id="toggle">
                Categories
            </div>
            <div class="items-container disabled">
                <div class="mobile-sidebar-item">
                    ITEM TEXT >
                </div>
                <div class="mobile-sidebar-item">
                    ITEM TEXT >
                </div>
                <div class="mobile-sidebar-item">
                    ITEM TEXT >
                </div>
                <div class="mobile-sidebar-item">
                    ITEM TEXT >
                </div>
                <div class="mobile-sidebar-item">
                    ITEM TEXT >
                </div>
            </div>
        </div>
    </div>
    <div id="page">
        <div id="post-container">
            <div class="post top">

            </div>
            <div class="post">

            </div>
            <div class="post">

            </div>
            <div class="post">

            </div>
            <div class="post bottom">

            </div>
        </div>
        <div id="sidebar-container">
            <div id="sidebar">
                <div class="sidebar-item">
                    ITEM TEXT >
                </div>
                <div class="sidebar-item">
                    ITEM TEXT >
                </div>
                <div class="sidebar-item">
                    ITEM TEXT >
                </div>
                <div class="sidebar-item">
                    ITEM TEXT >
                </div>
                <div class="sidebar-item">
                    ITEM TEXT >
                </div>
            </div>
        </div>
    </div>
    
    
    <main role="main" style="display:none;">
        <div class="container">
            <div class="row">
                <div class="col">
                    @RenderBody()
                </div>
            </div>
        </div>
    </main>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - CodingBlog - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
