<footer class="footer-light-medium">
    <div class="container">
        <div class="footer-head">
            <div class="head-text">
                <h3>Have thoughts on tech?</h3>
                <p>Create your free account now to share your thoughts in the comments</p>
            </div>
            <div class="head-action">
                <div class="buttons">
                    <a class="button primary-btn raised action-button is-bold">Sign Up</a>
                    <a class="button chat-button">Sign In</a>
                </div>
            </div>
        </div>
        <div class="columns footer-body">
            <!-- Column -->
            <div class="column is-centered">
                <div class="pt-10 pb-10">
                    <img class="small-footer-logo" src="assets/img/logos/bulkit-logo-g.png" alt="">
                    <div class="footer-description">
                        Coding Blog is written for developers. Here I focus on popular tech and
                        my future predictions for technology.
                    </div>
                </div>
                <div>
                    <span class="moto">Website coded by Joshua Peters</span>
                    <div class="social-links">
                        <a href="#">
                            <span class="icon"><i class="fa fa-facebook"></i></span>
                        </a>
                        <a href="#">
                            <span class="icon"><i class="fa fa-twitter"></i></span>
                        </a>
                        <a href="#">
                            <span class="icon"><i class="fa fa-linkedin"></i></span>
                        </a>
                        <a href="#">
                            <span class="icon"><i class="fa fa-dribbble"></i></span>
                        </a>
                        <a href="#">
                            <span class="icon"><i class="fa fa-github"></i></span>
                        </a>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="footer-copyright has-text-centered">
            <p>&copy; 2020 | <a href="https://cssninja.io">Joshua Peters</a> | All Rights Reserved.</p>
        </div>
    </div>
</footer>