@model CodingBlog.Models.Post

@{
    ViewData["Title"] = "Create Post";
    Layout = "_AdminLayout";
}

<div class="row">
    <div class="col">
        <h1>Create Post</h1>
    </div>
</div>
<hr />
<div class="row">
    <div class="col">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Abstract" class="control-label"></label>
                <input asp-for="Abstract" class="form-control" />
                <span asp-validation-for="Abstract" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BlogId" class="control-label">Change Blog</label>
                <select asp-for="BlogId" class="form-control" asp-items="ViewBag.BlogId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Content" class="control-label">Body</label>
                <textarea asp-for="Content" id="content-textarea" class="form-control"></textarea>
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>

            <div class="form-group">
                <span id="file-selected"></span>
                <label @*asp-for="FileName"*@ class="custom-file-upload control-label">
                    <input onchange="showname()" id="choose-file-input" asp-for="Image" type="file" />
                    Upload Image
                </label>

                <span asp-validation-for="FileName" class="text-danger"></span>
            </div>

            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsPublished" /> Publish
                </label>
            </div>
            <div class="form-group">
                <a asp-action="Index" class="btn btn-secondary">Back</a>
                <input type="submit" id="save-or-publish-button" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
